/*Div é uma tag utilizado para fazer agrupamento de conteúdo. Eu quero que esse conteúdo exteja dentro de uma caixa de um conteiner. Então eu vou usar uma div e dentro dela eu coloco esse conteúdo. Depois esse conteúdo ele pode ser formatado é o que vamos fazer agora usando style css.*/

/*Quando eu aplico essa formatação em font eu encontro  essa formatação.*/
body{
    font-family: arial, sans-serif;
    /*display: flex;*/
    /*justify-content: center;*/
   /* align-items: center;*/
    min-height: 100vh;
    margin: 0;
    background-color: #4d4c4c;
    padding: 100px;
}

/*Quando eu aplico essa formatação em conteiner01 eu encontro  essa formatação.*/
.container01{
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #e7acac;
    border-radius: 8px;
    box-shadow: 0 4px  8px  rgba(0, 0, 0, 0,1);
    text-align: center;
}
/*Quando eu aplico essa formatação em container02 eu encontro  essa formatação.*/
.container02{
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #6b7bd6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
    text-align: center;
}

/*Quando eu aplico essa formatação em button eu encontro  essa formatação.*/
.button{
    padding: 10px 20px;
    background-color: #965e0b;
    color: #f7f7f7;
    border-color: #000000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/*Quando eu aplico essa formatação em button eu encontro  essa formatação.*/

.button:hover{
    background-color: #0056b3;
}

/*Quando eu aplico essa formatação em h1 eu encontro  essa formatação.*/
h1{
    color: rgb(247, 243, 239);
}
/*Quando eu aplico essa formatação na classe cor eu encontro  essa formatação.*/
.cor{
    color: #7fff00;
}

/*Temos que ter muita fé e acreditar no amanhã e acreitar sempre no novo dia.*/
/*Aqui estou trabalhando com div .vida01 treinando*/
.vida01{
    width: 90%;
    height: 200px;
    background-color: #965e0b;
    border-radius: 8px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0,1);
    text-align: center;
    padding: 20px;
    color: #fadb2e;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease;
}
.button{
    padding: 10px 20px;
    background-color: rgb(235, 227, 227);
    color: blue;
    border-color: rgb(128, 124, 123);
    border-radius: 10px;
    text-decoration: #ca7c7c;
    transition: background-color 03.s ease;
    }

    .button:hover{
        background-color: #e7acac;
    }

    /*Temos que ter muita fé e acreditar no amanhã e acreitar sempre no novo dia.*/
/*Aqui estou trabalhando com div .vida02 treinando*/
.vida02{
    width: 90%;
    height: 200px;
    background-color: #52def7;
    border-radius: 8px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0,1);
    text-align: center;
    padding: 20px;
    color: #f704a6;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease;
}

.button002{
    padding: 10px 20px;
    background-color: rgb(194, 8, 101);
    color: rgb(100, 31, 4);
    border-color: rgb(128, 124, 123);
    border-radius: 10px;
    text-decoration: #ca7c7c;
    transition: background-color 03.s ease;
    }

    .button:hover{
        background-color: #e7acac;
    }

    .color002{
        color:darkgreen;
    }

    /*Trabalhando a tag header formatação genérica*/
    .container03{
        max-width: 960px;
        margin: auto;
        background-color: #fff;
        padding: 20px;
    }

    header, nav, main, article, section, aside, footer{
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 5px;
    }
    /*Formatação expesifica para o header*/
    header{
        background-color: #52def7;
        color: #fff;
        text-align: center;
    }
    /*Formatação para o h1 que está dentro do header*/
    header h1{
        margin: 0;

    }

    nav ul{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        background-color: #e2dfdb;
    }

    nav li a {
        display: block;
        color: #fff
        text-decoration: none;
        padding: 10px 15px;
        }

        main{
            background-color: #a47cca;
        }

        article{
            background-color: #fff;
            border: 1px solid #ddd;
        }

        aside{
            background-color: f0f0f0;
            font-style: italic;
        }

        footer{
            background-color: #0056b3;
            color: #fff;
            text-align: center;
            font-size: 0.9em;
        }




