/*Div é uma tag utilizado para fazer agrupamento de conteúdo. Eu quero que esse conteúdo exteja dentro de uma caixa de um conteiner. Então eu vou usar uma div e dentro dela eu coloco esse conteúdo. Depois esse conteúdo ele pode ser formatado é o que vamos fazer agora usando style css.*/

/*Quando eu aplico essa formatação em font eu encontro  essa formatação.*/
body{
    font-family: arial, sans-serif;
    /*display: flex;*/
    /*justify-content: center;*/
   /* align-items: center;*/
    min-height: 100vh;
    margin: 0;
    background-color: #4d4c4c;
    padding: 100px;
}

/*Quando eu aplico essa formatação em conteiner01 eu encontro  essa formatação.*/
.container01{
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #e7acac;
    border-radius: 8px;
    box-shadow: 0 4px  8px  rgba(0, 0, 0, 0,1);
    text-align: center;
}
/*Quando eu aplico essa formatação em container02 eu encontro  essa formatação.*/
.container02{
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #6b7bd6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
    text-align: center;
}

/*Quando eu aplico essa formatação em button eu encontro  essa formatação.*/
.button{
    padding: 10px 20px;
    background-color: #965e0b;
    color: #f7f7f7;
    border-color: #000000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/*Quando eu aplico essa formatação em button eu encontro  essa formatação.*/

.button:hover{
    background-color: #0056b3;
}

/*Quando eu aplico essa formatação em h1 eu encontro  essa formatação.*/
h1{
    color: brown;
}
/*Quando eu aplico essa formatação na classe cor eu encontro  essa formatação.*/
.cor{
    color: #7fff00;
}

/*Temos que ter muita fé e acreditar no amanhã e acreitar sempre no novo dia.*/
/*Aqui estou trabalhando com div .vida01 treinando*/
.vida01{
    width: 90%;
    height: 200px;
    background-color: #965e0b;
    border-radius: 8px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0,1);
    text-align: center;
    padding: 20px;
    color: #fadb2e;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease;
}
.button{
    padding: 10px 20px;
    background-color: rgb(235, 227, 227);
    color: blue;
    border-color: rgb(128, 124, 123);
    border-radius: 10px;
    text-decoration: #ca7c7c;
    transition: background-color 03.s ease;
    }

    .button:hover{
        background-color: #e7acac;
    }